{%extends "dashboard_base.html" %} {% block content %}

<h1>About Us</h1>
<p>
  Our mission is to provide a simple and efficient way to split expenses with
  ease.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem fuga quaerat
  quasi rem commodi nemo, qui adipisci totam pariatur iusto nisi voluptas
  expedita quibusdam itaque aliquam praesentium soluta dolore ipsum aspernatur?
  Quaerat vitae et similique quod eius, nobis, rerum fugit ipsa sed culpa,
  eveniet labore harum voluptate itaque esse. In quibusdam asperiores provident
  magni, perspiciatis praesentium! Nemo minus suscipit assumenda beatae omnis,
  numquam doloremque soluta cum vero. Facere, incidunt aperiam, voluptate
  necessitatibus vitae consequuntur inventore sapiente iste, unde numquam non
  labore et! Molestias aliquam fugiat consequuntur totam amet soluta velit culpa
  fuga deserunt illum, dignissimos inventore aspernatur officiis magnam
  reprehenderit!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos id earum deleniti
  quibusdam, numquam veritatis. Excepturi vitae quisquam sapiente consequuntur
  velit eaque maxime voluptatem veniam qui impedit. Optio dolores amet illo iure
  ut autem fuga natus quibusdam, quaerat consequuntur, iste corporis maxime hic
  non eum facilis aut? Quia mollitia voluptatem officiis fuga aspernatur labore,
  veniam autem eligendi cumque voluptas possimus incidunt molestias eaque dolor
  voluptatibus iste nobis sed temporibus adipisci soluta enim tempore? Excepturi
  harum optio magnam itaque saepe iusto soluta perferendis quis! Est, quis
  minima obcaecati voluptates ducimus explicabo deserunt eius quas facilis
  consectetur impedit. Quae sint dolorum omnis iure explicabo fugit iusto ipsum
  recusandae obcaecati fugiat, repellendus, tempore illum id placeat quia
  laudantium. Non perferendis consectetur odit commodi recusandae maiores
  architecto numquam tempora porro? Laborum reiciendis nihil voluptates nostrum
  in corrupti hic consectetur quisquam id aperiam consequuntur, delectus
  suscipit exercitationem magnam beatae aut impedit nobis, maiores sit cum dolor
  temporibus ipsum explicabo! Asperiores provident earum cum quod numquam, sed
  illum distinctio rerum dicta itaque voluptatibus aspernatur suscipit officiis
  ut unde?
</p>
<style>
  h1,
  p {
    color: white;
  }
  h1 {
    font-size: xx-large;
  }
</style>
{% endblock %}
