{%extends "dashboard_base.html" %} {% block content %}
<div id="group_header">
  <h1>Groups</h1>
  <button
    type="button"
    id="create-group"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Create Group
  </button>
</div>

<div id="groupList" class="hstack gap-3 flex-wrap">
  {% block groupList %}{% endblock %}
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Group</h1>
      </div>
      <div class="modal-body">
        <form action="create_group" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="group-name" class="col-form-label">Group Name:</label>
            <input
              type="text"
              class="form-control"
              name="group-name"
              id="group-name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="group-description" class="col-form-label"
              >Group Description:</label
            >
            <textarea
              class="form-control"
              id="group-description"
              name="group-description"
              rows="3"
              required
            ></textarea>
          </div>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <input
            type="submit"
            class="btn btn-primary"
            name="create_group"
            value="Create Group"
          />
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  h1 {
    font-size: xx-large;
    color: white;
  }
  #group_header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 45px;
  }

  #create-group {
    background-color: #ffcc00;
  }
  #create-group:hover {
    background-color: white;
    color: black;
  }
  .modal-header {
    background-color: black;
  }
  .modal-body {
    background-color: #ffcc00;
  }
  .modal-content {
    border: white 2px solid;
  }
  #groupList {
    padding: 20px;
  }
</style>
{% endblock %}
