{% extends "dashboard_base.html" %} 
{% block content %}

<h2>Hello, {{ first_name }} {{ last_name }},</h2>
<h3>Email: {{ email }}</h3>
<h3>About: {{ about }}</h3>
<h3>Gender: {{ gender }}</h3>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileModal">
  Update Profile  
</button>

<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="profileModalLabel">Update Profile</h1>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          
          <div class="mb-3">
            <label for="about" class="form-label">About:</label>
            <input type="text" class="form-control" name="about" id="about" value="{{ about }}"></textarea>
          </div>
          
          <div class="mb-3">
            <label for="gender" class="form-label">Gender:</label><br>
            <select name="gender" id="gender">
              <option value="">Select gender</option>
              <option value="M" {% if gender == "M" %}selected{% endif %}>Male</option>
              <option value="F" {% if gender == "F" %}selected{% endif %}>Female</option>
            </select>
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" name="update_profile" value="Apply Changes" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  h2 {
    color: white;
  }
  .modal-header {
    background-color: black;
  }
  .modal-body {
    background-color: #ffcc00;
  }
  .modal-content {
    border: white 2px solid;
  }
</style>
{% endblock %}
